@mixin small {
  @media only screen and (max-width: $sm) {
    @content;
  }
}

@mixin medium {
  @media only screen and (max-width: $md) {
    @content;
  }
}

@mixin textarea {
  box-sizing: border-box;
  overflow: hidden;
  font-family: $rubik-font;
  font-size: $font-size;
  height: 5.5rem;
  resize: none;
  line-height: 130%;
  color: $grayish-blue;
  padding: 0.7rem 1rem;
  border: 0.1rem solid $light-gray;
  border-radius: 0.5rem;
  caret-color: $moderate-blue;

  &:hover {
    border-color: $moderate-blue;
    cursor: pointer;
  }

  &:focus {
    border-color: $grayish-blue;
    outline: none;
  }
}

@mixin button {
  width: 5rem;
  text-align: center;
  border: none;
  background-color: $moderate-blue;
  color: $white;
  text-transform: uppercase;
  font-weight: $font-weight-medium;
  border-radius: 0.3rem;
  padding: 0.6rem;

  &:hover {
    opacity: 50%;
    cursor: pointer;
  }
}
